$primary-font: "Maven Pro";
$underline-color: #dadada;

$light-background: white;
$light-text: #4a4a4a;
$dark-background: #262626;
$dark-text: white;

body {
  &.dark {
    --bg-color: #{$dark-background};
    --text-color: #{$dark-text};
  }

  &.light {
    --bg-color: #{$light-background};
    --text-color: #{$light-text};
  }
}
