$primary-font: "Maven Pro";
$underline-color: #dadada;

$light-background: white;
$light-text: #4a4a4a;
$dark-background: #4a4a4a;
$dark-text: white;

$secondary-color: $light-background;
$primary-color: $light-text;

html {
  &.dark {
    --bg-color: #{$dark-background};
    --text-color: #{$dark-text};
    $primary-color: #{$dark-text};
    $secondary-color: #{$dark-background};
  }

  &.light {
    --bg-color: #{$light-background};
    --text-color: #{$light-text};
    $primary-color: #{$light-text};
    $secondary-color: #{$light-background};
  }
}
