@import url(https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap);
@import "../styles/variables.scss";

* {
  box-sizing: border-box;
  font-family: $primary-font;
  scroll-behavior: smooth;
}

body {
  margin: 82px 150px;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: all ease 0.2s;

  a {
    color: var(--text-color);
    &:active,
    &:visited {
      color: var(--text-color);
    }
  }

  @media screen and (max-width: 812px) {
    margin: 42px 36px;
  }
}

.section-heading {
  font-size: 28px;
  font-weight: 600;
}
