@import "../../styles/variables.scss";
@import "../../styles/light.scss";

.header {
  font-family: $primary-font;
  color: $text-color;

  .title {
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    letter-spacing: 0.6px;
  }

  .nav {
    float: right;
    font-size: 22px;
    padding-top: 6px;

    a {
      margin-right: 32px;
      color: $text-color;
      text-decoration: none;

      &:last-child {
        margin-right: 0;
      }
    }

    .theme {
      width: 20px;
      height: auto;
    }
  }
}
