@import "../../styles/variables.scss";

.header {
  font-family: $primary-font;

  .title {
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    letter-spacing: 0.6px;
    color: var(--text-color);
  }

  .nav {
    float: right;
    font-size: 22px;
    padding-top: 6px;

    a {
      margin-right: 32px;
      text-decoration: none;
      &:last-child {
        margin-right: 0;
      }
    }

    .theme {
      width: 20px;
      height: auto;
      cursor: pointer;
    }
  }
}
