.technology {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  margin: 10px;

  img {
    width: auto;
    height: 115px;
    display: inline-block;
    margin: auto;
  }

  span {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .technology {
    margin: 16px;
    img {
      max-height: 76px;
    }
  }
}
