.about-me {
  font-size: 20px;
  min-width: 400px;
  max-width: 500px;
  margin-top: 70px;
  .section-heading {
    margin-bottom: 34px;
  }
  .about-detail-wrapper {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    margin-bottom: 30px;
    .about-title {
      font-weight: bold;
    }
    .about-description {
      font-weight: normal;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .about-me {
    width: auto;
    min-width: unset;
  }
}
